-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	0. import files
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
font-family: 'Open Sans', sans-serif;

@charset "utf-8";

html {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.8;
	letter-spacing: 0;
	color: #999;
	font-size: 16px;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

#htmlCanvas {
	padding: 0;
	margin: 0;
}

#header {
	height: 10vh;
}
#greeting, #nameInput {
	display: inline;
	margin: 0 4px;
}
#postGreeting {
	margin: 12px 4px 0;
}

#footer {
	position: absolute;
	bottom: 0;
}
#buttonSave, #buttonGIF, #buttonPNG {
	display: inline;
}

button, input[type=button] {
	padding: 0 42px;
	height: 55px;
	outline: none;
	border: 0;
	border-radius: 30px;
	background-color: #F0E8D0;
	color: #45deb0;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
	-webkit-transition: all .1s cubic-bezier(.645,.045,.355,1);
	transition: all .1s cubic-bezier(.645,.045,.355,1);
}

input[type=text], textarea {
	width: 20%;
	outline: none;
	border: 0;
	border-bottom: 1px solid #aaa;
	border-radius: 0;
	color: #878c9b;
	background: none;
}

input:focus, textarea:focus {
	border-bottom: 1px solid #1a237e;
}

input[type=text], select {
	padding: 3px 0;
	height: 32px;
	-webkit-transition: all .1s cubic-bezier(.645,.045,.355,1);
	transition: all .1s cubic-bezier(.645,.045,.355,1);
}
input[type=text] {
	text-transform: uppercase;
	color: #AA58C6;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	letter-spacing: -0.03em;
	line-height: 1.2;
    color: #AA58C6;
}
h1, .h1 {
	font-size:56px;
}
h2, .h2 {
	font-size: 40px;
}
h3, .h3 {
	font-size: 34px;
}
h4, .h4 {
	font-size: 24px;
}
h5, .h5 {
	font-size: 18px;
}
h6, .h6 {
	font-size: 14px;
}
